<!-- content -->                      
<div class="row">

	<!-- main col left --> 
	<div class="col-sm-5">

		<div class="panel panel-default">
			<div class="panel-thumbnail"></div>
			<div class="panel-body">
				<p class="lead">Welcome to NanoTwitter!</p>
				<% if @current_user %>
					Good to see you, <%= @current_user.name %>
				<% else %>
					Please sign in on the right.
					<br>
					Or 
					<br>
					<a href="/register">Register for an account.</a>
				<% end %>
				</p>
			</div>
		</div>
	</div>

	<!-- main col right -->
	<div class="col-sm-7">
		<% unless @current_user %>
		<div class="well"> 
			<%= erb :login %>
		</div>
		<% end %>

		<div class="panel panel-default">
			<div class="panel-heading"><!-- <a href="#" class="pull-right"> View all</a>--> <h4>Recent Tweets</h4></div>

			<div id="tweets" class="panel-body">

				<% if @tweets.count > 0 %>
					<% @tweets.each do |tweet| %>
						<a href="/user/<%= tweet[0] %>">
							<%= tweet[2] %>
						</a>
						<br>
						<%= tweet[1] %>
						<br>
						<%= tweet[3] %>
						<br><hr>
					<% end %>
				<% else %>
					<h2>No tweets to show yet.</h2>
				<% end %>
			</div>

		</div>
	</div><!--/row-->
