NAME: <%= @user.name %>
<br>
USERNAME: <%= @user.username %>
<%= erb :tweet_box if @is_your_page %>
<% unless @current_user.nil? || @is_your_page %>
<form action='/follows' method='post'>
	<input type="hidden" name="user_id" value="<%= @current_user.id %>" >
	<input type="hidden" name="followee_id" value="<%= @user.id %>" >
	<input type="submit" value="Follow this person.">
</form>
<% end %>
<% @tweets.each do |tweet| %>
	<% puts tweet.attributes  %>
	<br><br>
	BY: <a href="/user/<%= tweet.user_id %>"><%= tweet.name %></a>
	TEXT: <%= tweet.text %>
<% end %>
